@{
    ViewBag.Title = "Подача инициативы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section>

    <script type="text/javascript">
        function OnSuccess(data) {
            $('textarea').val('');
            alert("Инициатива успешно подана");
        }
        function OnFailure(request, error) {
            alert("Произошла ошибка. Свяжитесь с администратором");
        }
    </script>

    @using (Ajax.BeginForm("SubmitSuggestion", new AjaxOptions
                                                    {
                                                        OnFailure = "OnFailure",
                                                        OnSuccess = "OnSuccess",
                                                    }))
    {

        <table>
            <tr>
                <td>
                    <label for="Problem">Проблема</label></td>
                <td>
                    <textarea id="Problem" name="Problem" rows="6"></textarea></td>
            </tr>
            <tr>
                <td>
                    <label for="Solution">Решение</label></td>
                <td>
                    <textarea id="Solution" name="Solution" rows="6"></textarea></td>
            </tr>
            <tr>
                <td>
                    <label for="Result">Результат</label></td>
                <td>
                    <textarea id="Result" name="Result" rows="6"></textarea></td>
            </tr>
        </table>
        <input type="submit" value="Отправить" />
    }
</section>
