@{
    ViewBag.Title = "Просмотр своих инициатив";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<PSSharp.Models.Suggestion>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <table>
        @foreach (var sugg in Model)
        {
            <tr>
                <td>
                    @sugg.View()
                </td>
                <td>
                    @Html.ActionLink("Просмотр", "EditOwnSuggestion", new { id = sugg.SuggestionId })
                </td>
            </tr>
        }
    </table>
</section>
