@model IEnumerable<PSSharp.Models.Suggestion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.View())
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SuggestionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SuggestionId })
        </td>
    </tr>
}

</table>
